<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169756654847-pj79q0dt62adldulue7pqbmpj9044ceg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169756654847-pj79q0dt62adldulue7pqbmpj9044ceg</string>
	<key>API_KEY</key>
	<string>AIzaSyBstwgkEdvI2C7-twClqpn9vRGR3qd4tVo</string>
	<key>GCM_SENDER_ID</key>
	<string>169756654847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandramachnikowska.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait000</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169756654847:ios:8c9ddae0f76612750460ca</string>
</dict>
</plist>